@model MeetingPlanner.Models.Meeting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MeetingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeetingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningHymnId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningHymnId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SacramentHymnId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SacramentHymnId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingHymnId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingHymnId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntermediateHymnId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntermediateHymnId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningPrayer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingPrayer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
