@model IEnumerable<MeetingPlanner.Models.Meeting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Meeting Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.ActionLink("Conducting Leader", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningHymnId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SacramentHymnId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingHymnId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntermediateHymnId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MeetingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningHymnId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SacramentHymnId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingHymnId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntermediateHymnId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningPrayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingPrayer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
